<%- include("partials/header") -%>
<h1>Welcome</h1>
<p><%= HOMECONTENT %></p>

<% BLOGLIST.forEach(function(post) { %>
<h3><%=post.title%></h3>
<p><%=post.content%></p>
<% }); %>

<%- include("partials/footer") -%>